<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lesieur PDF Generator</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Capture Atlas</h1>
                <p>CaptureAtlas is an example of PDF render from HTML source server-side in Node.js running with <a href="https://node-atlas.js.org/">NodeAtlas</a>.</p>
                <p><a href="https://github.com/Haeresis/CaptureAtlas">See code source this page here</a>.</p>
            </div>
        </div>
        <div class="container">
            <h2>HTML Render</h2>
            <p><a href="./pdf/" target="_blank">See the HTML page render</a></p>
            <h2>PDF Render</h2>
            <p><a href="./generator/" target="_blank">See the PDF page render</a></p>
        </div>
    </body>
</html>